# Inputs

NET "SW0" LOC = P66;

NET "BTN[1]" LOC = P45;
NET "BTN[2]" LOC = P46;
NET "BTN[3]" LOC = P47;
NET "BTN[4]" LOC = P48;
NET "BTN[5]" LOC = P51;
NET "BTN[6]" LOC = P55;


# Outputs

NET "LED[3]" LOC = P79;
NET "LED[2]" LOC = P80;
NET "LED[1]" LOC = P81;
NET "LED[0]" LOC = P82;
