//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 07 20:29:12 2024
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P123" LEVEL 1;
COMP "lcd_data<0>" LOCATE = SITE "P134" LEVEL 1;
COMP "lcd_data<1>" LOCATE = SITE "P138" LEVEL 1;
COMP "lcd_data<2>" LOCATE = SITE "P140" LEVEL 1;
COMP "lcd_data<3>" LOCATE = SITE "P142" LEVEL 1;
COMP "lcd_data<4>" LOCATE = SITE "P1" LEVEL 1;
COMP "lcd_data<5>" LOCATE = SITE "P5" LEVEL 1;
COMP "lcd_data<6>" LOCATE = SITE "P7" LEVEL 1;
COMP "lcd_data<7>" LOCATE = SITE "P9" LEVEL 1;
COMP "mn<0>" LOCATE = SITE "P95" LEVEL 1;
COMP "mn<1>" LOCATE = SITE "P94" LEVEL 1;
COMP "mn<2>" LOCATE = SITE "P93" LEVEL 1;
COMP "mn<3>" LOCATE = SITE "P92" LEVEL 1;
COMP "mn<4>" LOCATE = SITE "P88" LEVEL 1;
COMP "mn<5>" LOCATE = SITE "P87" LEVEL 1;
COMP "mn<6>" LOCATE = SITE "P85" LEVEL 1;
COMP "mn<7>" LOCATE = SITE "P84" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "P66" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "P62" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "P56" LEVEL 1;
COMP "bt_rx" LOCATE = SITE "P131" LEVEL 1;
COMP "bt_tx" LOCATE = SITE "P126" LEVEL 1;
COMP "led<0>" LOCATE = SITE "P82" LEVEL 1;
COMP "led<1>" LOCATE = SITE "P81" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "P45" LEVEL 1;
COMP "led<2>" LOCATE = SITE "P80" LEVEL 1;
COMP "btn<2>" LOCATE = SITE "P46" LEVEL 1;
COMP "led<3>" LOCATE = SITE "P79" LEVEL 1;
COMP "btn<3>" LOCATE = SITE "P47" LEVEL 1;
COMP "led<4>" LOCATE = SITE "P78" LEVEL 1;
COMP "btn<4>" LOCATE = SITE "P48" LEVEL 1;
COMP "led<5>" LOCATE = SITE "P75" LEVEL 1;
COMP "btn<5>" LOCATE = SITE "P51" LEVEL 1;
COMP "led<6>" LOCATE = SITE "P74" LEVEL 1;
COMP "dipsw<1>" LOCATE = SITE "P112" LEVEL 1;
COMP "btn<6>" LOCATE = SITE "P55" LEVEL 1;
COMP "dipsw<2>" LOCATE = SITE "P111" LEVEL 1;
COMP "led<7>" LOCATE = SITE "P67" LEVEL 1;
COMP "dipsw<3>" LOCATE = SITE "P105" LEVEL 1;
COMP "dipsw<4>" LOCATE = SITE "P104" LEVEL 1;
COMP "dipsw<5>" LOCATE = SITE "P102" LEVEL 1;
COMP "dipsw<6>" LOCATE = SITE "P101" LEVEL 1;
COMP "dipsw<7>" LOCATE = SITE "P100" LEVEL 1;
COMP "dipsw<8>" LOCATE = SITE "P99" LEVEL 1;
COMP "bt_state" LOCATE = SITE "P133" LEVEL 1;
COMP "lcd_en" LOCATE = SITE "P132" LEVEL 1;
COMP "lcd_rs" LOCATE = SITE "P124" LEVEL 1;
COMP "lcd_rw" LOCATE = SITE "P127" LEVEL 1;
COMP "buzzer" LOCATE = SITE "P83" LEVEL 1;
TIMEGRP clk = BEL
        "communicator_inst/g_reciever_reset_shr[2].debounce_inst/d_o" BEL
        "communicator_inst/g_reciever_reset_shr[1].debounce_inst/d_o" BEL
        "controller_inst/state_FSM_FFd2" BEL "controller_inst/state_FSM_FFd1"
        BEL "controller_inst/idle_timer_26" BEL
        "controller_inst/idle_timer_25" BEL "controller_inst/idle_timer_24"
        BEL "controller_inst/idle_timer_23" BEL
        "controller_inst/idle_timer_22" BEL "controller_inst/idle_timer_21"
        BEL "controller_inst/idle_timer_20" BEL
        "controller_inst/idle_timer_19" BEL "controller_inst/idle_timer_18"
        BEL "controller_inst/idle_timer_17" BEL
        "controller_inst/idle_timer_16" BEL "controller_inst/idle_timer_15"
        BEL "controller_inst/idle_timer_14" BEL
        "controller_inst/idle_timer_13" BEL "controller_inst/idle_timer_12"
        BEL "controller_inst/idle_timer_11" BEL
        "controller_inst/idle_timer_10" BEL "controller_inst/idle_timer_9" BEL
        "controller_inst/idle_timer_8" BEL "controller_inst/idle_timer_7" BEL
        "controller_inst/idle_timer_6" BEL "controller_inst/idle_timer_5" BEL
        "controller_inst/idle_timer_4" BEL "controller_inst/idle_timer_3" BEL
        "controller_inst/idle_timer_2" BEL "controller_inst/idle_timer_1" BEL
        "controller_inst/idle_timer_0" BEL "editor_inst/last_char_6" BEL
        "editor_inst/last_char_5" BEL "editor_inst/last_char_4" BEL
        "editor_inst/last_char_3" BEL "editor_inst/last_char_2" BEL
        "editor_inst/last_char_1" BEL "editor_inst/last_char_0" BEL
        "editor_inst/key_timer_25" BEL "editor_inst/key_timer_24" BEL
        "editor_inst/key_timer_23" BEL "editor_inst/key_timer_22" BEL
        "editor_inst/key_timer_21" BEL "editor_inst/key_timer_20" BEL
        "editor_inst/key_timer_19" BEL "editor_inst/key_timer_18" BEL
        "editor_inst/key_timer_17" BEL "editor_inst/key_timer_16" BEL
        "editor_inst/key_timer_15" BEL "editor_inst/key_timer_14" BEL
        "editor_inst/key_timer_13" BEL "editor_inst/key_timer_12" BEL
        "editor_inst/key_timer_11" BEL "editor_inst/key_timer_10" BEL
        "editor_inst/key_timer_9" BEL "editor_inst/key_timer_8" BEL
        "editor_inst/key_timer_7" BEL "editor_inst/key_timer_6" BEL
        "editor_inst/key_timer_5" BEL "editor_inst/key_timer_4" BEL
        "editor_inst/key_timer_3" BEL "editor_inst/key_timer_2" BEL
        "editor_inst/key_timer_1" BEL "editor_inst/key_timer_0" BEL
        "editor_inst/char_index_internal_4" BEL
        "editor_inst/char_index_internal_3" BEL
        "editor_inst/char_index_internal_2" BEL
        "editor_inst/char_index_internal_1" BEL
        "editor_inst/char_index_internal_0" BEL
        "editor_inst/internal_message_buffer_238" BEL
        "editor_inst/internal_message_buffer_237" BEL
        "editor_inst/internal_message_buffer_236" BEL
        "editor_inst/internal_message_buffer_235" BEL
        "editor_inst/internal_message_buffer_234" BEL
        "editor_inst/internal_message_buffer_233" BEL
        "editor_inst/internal_message_buffer_232" BEL
        "editor_inst/internal_message_buffer_230" BEL
        "editor_inst/internal_message_buffer_229" BEL
        "editor_inst/internal_message_buffer_228" BEL
        "editor_inst/internal_message_buffer_227" BEL
        "editor_inst/internal_message_buffer_226" BEL
        "editor_inst/internal_message_buffer_225" BEL
        "editor_inst/internal_message_buffer_224" BEL
        "editor_inst/internal_message_buffer_222" BEL
        "editor_inst/internal_message_buffer_221" BEL
        "editor_inst/internal_message_buffer_220" BEL
        "editor_inst/internal_message_buffer_219" BEL
        "editor_inst/internal_message_buffer_218" BEL
        "editor_inst/internal_message_buffer_217" BEL
        "editor_inst/internal_message_buffer_216" BEL
        "editor_inst/internal_message_buffer_214" BEL
        "editor_inst/internal_message_buffer_213" BEL
        "editor_inst/internal_message_buffer_212" BEL
        "editor_inst/internal_message_buffer_211" BEL
        "editor_inst/internal_message_buffer_210" BEL
        "editor_inst/internal_message_buffer_209" BEL
        "editor_inst/internal_message_buffer_208" BEL
        "editor_inst/internal_message_buffer_206" BEL
        "editor_inst/internal_message_buffer_205" BEL
        "editor_inst/internal_message_buffer_204" BEL
        "editor_inst/internal_message_buffer_203" BEL
        "editor_inst/internal_message_buffer_202" BEL
        "editor_inst/internal_message_buffer_201" BEL
        "editor_inst/internal_message_buffer_200" BEL
        "editor_inst/internal_message_buffer_198" BEL
        "editor_inst/internal_message_buffer_197" BEL
        "editor_inst/internal_message_buffer_196" BEL
        "editor_inst/internal_message_buffer_195" BEL
        "editor_inst/internal_message_buffer_194" BEL
        "editor_inst/internal_message_buffer_193" BEL
        "editor_inst/internal_message_buffer_192" BEL
        "editor_inst/internal_message_buffer_190" BEL
        "editor_inst/internal_message_buffer_189" BEL
        "editor_inst/internal_message_buffer_188" BEL
        "editor_inst/internal_message_buffer_187" BEL
        "editor_inst/internal_message_buffer_186" BEL
        "editor_inst/internal_message_buffer_185" BEL
        "editor_inst/internal_message_buffer_184" BEL
        "editor_inst/internal_message_buffer_182" BEL
        "editor_inst/internal_message_buffer_181" BEL
        "editor_inst/internal_message_buffer_180" BEL
        "editor_inst/internal_message_buffer_179" BEL
        "editor_inst/internal_message_buffer_178" BEL
        "editor_inst/internal_message_buffer_177" BEL
        "editor_inst/internal_message_buffer_176" BEL
        "editor_inst/internal_message_buffer_174" BEL
        "editor_inst/internal_message_buffer_173" BEL
        "editor_inst/internal_message_buffer_172" BEL
        "editor_inst/internal_message_buffer_171" BEL
        "editor_inst/internal_message_buffer_170" BEL
        "editor_inst/internal_message_buffer_169" BEL
        "editor_inst/internal_message_buffer_168" BEL
        "editor_inst/internal_message_buffer_166" BEL
        "editor_inst/internal_message_buffer_165" BEL
        "editor_inst/internal_message_buffer_164" BEL
        "editor_inst/internal_message_buffer_163" BEL
        "editor_inst/internal_message_buffer_162" BEL
        "editor_inst/internal_message_buffer_161" BEL
        "editor_inst/internal_message_buffer_160" BEL
        "editor_inst/internal_message_buffer_158" BEL
        "editor_inst/internal_message_buffer_157" BEL
        "editor_inst/internal_message_buffer_156" BEL
        "editor_inst/internal_message_buffer_155" BEL
        "editor_inst/internal_message_buffer_154" BEL
        "editor_inst/internal_message_buffer_153" BEL
        "editor_inst/internal_message_buffer_152" BEL
        "editor_inst/internal_message_buffer_150" BEL
        "editor_inst/internal_message_buffer_149" BEL
        "editor_inst/internal_message_buffer_148" BEL
        "editor_inst/internal_message_buffer_147" BEL
        "editor_inst/internal_message_buffer_146" BEL
        "editor_inst/internal_message_buffer_145" BEL
        "editor_inst/internal_message_buffer_144" BEL
        "editor_inst/internal_message_buffer_142" BEL
        "editor_inst/internal_message_buffer_141" BEL
        "editor_inst/internal_message_buffer_140" BEL
        "editor_inst/internal_message_buffer_139" BEL
        "editor_inst/internal_message_buffer_138" BEL
        "editor_inst/internal_message_buffer_137" BEL
        "editor_inst/internal_message_buffer_136" BEL
        "editor_inst/internal_message_buffer_134" BEL
        "editor_inst/internal_message_buffer_133" BEL
        "editor_inst/internal_message_buffer_132" BEL
        "editor_inst/internal_message_buffer_131" BEL
        "editor_inst/internal_message_buffer_130" BEL
        "editor_inst/internal_message_buffer_129" BEL
        "editor_inst/internal_message_buffer_128" BEL
        "editor_inst/internal_message_buffer_126" BEL
        "editor_inst/internal_message_buffer_125" BEL
        "editor_inst/internal_message_buffer_124" BEL
        "editor_inst/internal_message_buffer_123" BEL
        "editor_inst/internal_message_buffer_122" BEL
        "editor_inst/internal_message_buffer_121" BEL
        "editor_inst/internal_message_buffer_120" BEL
        "editor_inst/internal_message_buffer_118" BEL
        "editor_inst/internal_message_buffer_117" BEL
        "editor_inst/internal_message_buffer_116" BEL
        "editor_inst/internal_message_buffer_115" BEL
        "editor_inst/internal_message_buffer_114" BEL
        "editor_inst/internal_message_buffer_113" BEL
        "editor_inst/internal_message_buffer_112" BEL
        "editor_inst/internal_message_buffer_110" BEL
        "editor_inst/internal_message_buffer_109" BEL
        "editor_inst/internal_message_buffer_108" BEL
        "editor_inst/internal_message_buffer_107" BEL
        "editor_inst/internal_message_buffer_106" BEL
        "editor_inst/internal_message_buffer_105" BEL
        "editor_inst/internal_message_buffer_104" BEL
        "editor_inst/internal_message_buffer_102" BEL
        "editor_inst/internal_message_buffer_101" BEL
        "editor_inst/internal_message_buffer_100" BEL
        "editor_inst/internal_message_buffer_99" BEL
        "editor_inst/internal_message_buffer_98" BEL
        "editor_inst/internal_message_buffer_97" BEL
        "editor_inst/internal_message_buffer_96" BEL
        "editor_inst/internal_message_buffer_94" BEL
        "editor_inst/internal_message_buffer_93" BEL
        "editor_inst/internal_message_buffer_92" BEL
        "editor_inst/internal_message_buffer_91" BEL
        "editor_inst/internal_message_buffer_90" BEL
        "editor_inst/internal_message_buffer_89" BEL
        "editor_inst/internal_message_buffer_88" BEL
        "editor_inst/internal_message_buffer_86" BEL
        "editor_inst/internal_message_buffer_85" BEL
        "editor_inst/internal_message_buffer_84" BEL
        "editor_inst/internal_message_buffer_83" BEL
        "editor_inst/internal_message_buffer_82" BEL
        "editor_inst/internal_message_buffer_81" BEL
        "editor_inst/internal_message_buffer_80" BEL
        "editor_inst/internal_message_buffer_78" BEL
        "editor_inst/internal_message_buffer_77" BEL
        "editor_inst/internal_message_buffer_76" BEL
        "editor_inst/internal_message_buffer_75" BEL
        "editor_inst/internal_message_buffer_74" BEL
        "editor_inst/internal_message_buffer_73" BEL
        "editor_inst/internal_message_buffer_72" BEL
        "editor_inst/internal_message_buffer_70" BEL
        "editor_inst/internal_message_buffer_69" BEL
        "editor_inst/internal_message_buffer_68" BEL
        "editor_inst/internal_message_buffer_67" BEL
        "editor_inst/internal_message_buffer_66" BEL
        "editor_inst/internal_message_buffer_65" BEL
        "editor_inst/internal_message_buffer_64" BEL
        "editor_inst/internal_message_buffer_62" BEL
        "editor_inst/internal_message_buffer_61" BEL
        "editor_inst/internal_message_buffer_60" BEL
        "editor_inst/internal_message_buffer_59" BEL
        "editor_inst/internal_message_buffer_58" BEL
        "editor_inst/internal_message_buffer_57" BEL
        "editor_inst/internal_message_buffer_56" BEL
        "editor_inst/internal_message_buffer_54" BEL
        "editor_inst/internal_message_buffer_53" BEL
        "editor_inst/internal_message_buffer_52" BEL
        "editor_inst/internal_message_buffer_51" BEL
        "editor_inst/internal_message_buffer_50" BEL
        "editor_inst/internal_message_buffer_49" BEL
        "editor_inst/internal_message_buffer_48" BEL
        "editor_inst/internal_message_buffer_46" BEL
        "editor_inst/internal_message_buffer_45" BEL
        "editor_inst/internal_message_buffer_44" BEL
        "editor_inst/internal_message_buffer_43" BEL
        "editor_inst/internal_message_buffer_42" BEL
        "editor_inst/internal_message_buffer_41" BEL
        "editor_inst/internal_message_buffer_40" BEL
        "editor_inst/internal_message_buffer_38" BEL
        "editor_inst/internal_message_buffer_37" BEL
        "editor_inst/internal_message_buffer_36" BEL
        "editor_inst/internal_message_buffer_35" BEL
        "editor_inst/internal_message_buffer_34" BEL
        "editor_inst/internal_message_buffer_33" BEL
        "editor_inst/internal_message_buffer_32" BEL
        "editor_inst/internal_message_buffer_30" BEL
        "editor_inst/internal_message_buffer_29" BEL
        "editor_inst/internal_message_buffer_28" BEL
        "editor_inst/internal_message_buffer_27" BEL
        "editor_inst/internal_message_buffer_26" BEL
        "editor_inst/internal_message_buffer_25" BEL
        "editor_inst/internal_message_buffer_24" BEL
        "editor_inst/internal_message_buffer_22" BEL
        "editor_inst/internal_message_buffer_21" BEL
        "editor_inst/internal_message_buffer_20" BEL
        "editor_inst/internal_message_buffer_19" BEL
        "editor_inst/internal_message_buffer_18" BEL
        "editor_inst/internal_message_buffer_17" BEL
        "editor_inst/internal_message_buffer_16" BEL
        "editor_inst/internal_message_buffer_14" BEL
        "editor_inst/internal_message_buffer_13" BEL
        "editor_inst/internal_message_buffer_12" BEL
        "editor_inst/internal_message_buffer_11" BEL
        "editor_inst/internal_message_buffer_10" BEL
        "editor_inst/internal_message_buffer_9" BEL
        "editor_inst/internal_message_buffer_8" BEL
        "communicator_inst/sender_inst/byte_index_0" BEL
        "communicator_inst/sender_inst/byte_index_4" BEL
        "communicator_inst/sender_inst/byte_index_3" BEL
        "communicator_inst/sender_inst/byte_index_2" BEL
        "communicator_inst/sender_inst/byte_index_1" BEL
        "communicator_inst/sender_inst/data_out_6" BEL
        "communicator_inst/sender_inst/data_out_5" BEL
        "communicator_inst/sender_inst/data_out_4" BEL
        "communicator_inst/sender_inst/data_out_3" BEL
        "communicator_inst/sender_inst/data_out_2" BEL
        "communicator_inst/sender_inst/data_out_1" BEL
        "communicator_inst/sender_inst/data_out_0" BEL
        "communicator_inst/receiver_inst/char_count_4" BEL
        "communicator_inst/receiver_inst/char_count_3" BEL
        "communicator_inst/receiver_inst/char_count_2" BEL
        "communicator_inst/receiver_inst/char_count_1" BEL
        "communicator_inst/receiver_inst/char_count_0" BEL
        "communicator_inst/receiver_inst/data_complete_stb" BEL
        "communicator_inst/receiver_inst/internal_buffer_239" BEL
        "communicator_inst/receiver_inst/internal_buffer_238" BEL
        "communicator_inst/receiver_inst/internal_buffer_237" BEL
        "communicator_inst/receiver_inst/internal_buffer_236" BEL
        "communicator_inst/receiver_inst/internal_buffer_235" BEL
        "communicator_inst/receiver_inst/internal_buffer_234" BEL
        "communicator_inst/receiver_inst/internal_buffer_233" BEL
        "communicator_inst/receiver_inst/internal_buffer_232" BEL
        "communicator_inst/receiver_inst/internal_buffer_231" BEL
        "communicator_inst/receiver_inst/internal_buffer_230" BEL
        "communicator_inst/receiver_inst/internal_buffer_229" BEL
        "communicator_inst/receiver_inst/internal_buffer_228" BEL
        "communicator_inst/receiver_inst/internal_buffer_227" BEL
        "communicator_inst/receiver_inst/internal_buffer_226" BEL
        "communicator_inst/receiver_inst/internal_buffer_225" BEL
        "communicator_inst/receiver_inst/internal_buffer_224" BEL
        "communicator_inst/receiver_inst/internal_buffer_223" BEL
        "communicator_inst/receiver_inst/internal_buffer_222" BEL
        "communicator_inst/receiver_inst/internal_buffer_221" BEL
        "communicator_inst/receiver_inst/internal_buffer_220" BEL
        "communicator_inst/receiver_inst/internal_buffer_219" BEL
        "communicator_inst/receiver_inst/internal_buffer_218" BEL
        "communicator_inst/receiver_inst/internal_buffer_217" BEL
        "communicator_inst/receiver_inst/internal_buffer_216" BEL
        "communicator_inst/receiver_inst/internal_buffer_215" BEL
        "communicator_inst/receiver_inst/internal_buffer_214" BEL
        "communicator_inst/receiver_inst/internal_buffer_213" BEL
        "communicator_inst/receiver_inst/internal_buffer_212" BEL
        "communicator_inst/receiver_inst/internal_buffer_211" BEL
        "communicator_inst/receiver_inst/internal_buffer_210" BEL
        "communicator_inst/receiver_inst/internal_buffer_209" BEL
        "communicator_inst/receiver_inst/internal_buffer_208" BEL
        "communicator_inst/receiver_inst/internal_buffer_207" BEL
        "communicator_inst/receiver_inst/internal_buffer_206" BEL
        "communicator_inst/receiver_inst/internal_buffer_205" BEL
        "communicator_inst/receiver_inst/internal_buffer_204" BEL
        "communicator_inst/receiver_inst/internal_buffer_203" BEL
        "communicator_inst/receiver_inst/internal_buffer_202" BEL
        "communicator_inst/receiver_inst/internal_buffer_201" BEL
        "communicator_inst/receiver_inst/internal_buffer_200" BEL
        "communicator_inst/receiver_inst/internal_buffer_199" BEL
        "communicator_inst/receiver_inst/internal_buffer_198" BEL
        "communicator_inst/receiver_inst/internal_buffer_197" BEL
        "communicator_inst/receiver_inst/internal_buffer_196" BEL
        "communicator_inst/receiver_inst/internal_buffer_195" BEL
        "communicator_inst/receiver_inst/internal_buffer_194" BEL
        "communicator_inst/receiver_inst/internal_buffer_193" BEL
        "communicator_inst/receiver_inst/internal_buffer_192" BEL
        "communicator_inst/receiver_inst/internal_buffer_191" BEL
        "communicator_inst/receiver_inst/internal_buffer_190" BEL
        "communicator_inst/receiver_inst/internal_buffer_189" BEL
        "communicator_inst/receiver_inst/internal_buffer_188" BEL
        "communicator_inst/receiver_inst/internal_buffer_187" BEL
        "communicator_inst/receiver_inst/internal_buffer_186" BEL
        "communicator_inst/receiver_inst/internal_buffer_185" BEL
        "communicator_inst/receiver_inst/internal_buffer_184" BEL
        "communicator_inst/receiver_inst/internal_buffer_183" BEL
        "communicator_inst/receiver_inst/internal_buffer_182" BEL
        "communicator_inst/receiver_inst/internal_buffer_181" BEL
        "communicator_inst/receiver_inst/internal_buffer_180" BEL
        "communicator_inst/receiver_inst/internal_buffer_179" BEL
        "communicator_inst/receiver_inst/internal_buffer_178" BEL
        "communicator_inst/receiver_inst/internal_buffer_177" BEL
        "communicator_inst/receiver_inst/internal_buffer_176" BEL
        "communicator_inst/receiver_inst/internal_buffer_175" BEL
        "communicator_inst/receiver_inst/internal_buffer_174" BEL
        "communicator_inst/receiver_inst/internal_buffer_173" BEL
        "communicator_inst/receiver_inst/internal_buffer_172" BEL
        "communicator_inst/receiver_inst/internal_buffer_171" BEL
        "communicator_inst/receiver_inst/internal_buffer_170" BEL
        "communicator_inst/receiver_inst/internal_buffer_169" BEL
        "communicator_inst/receiver_inst/internal_buffer_168" BEL
        "communicator_inst/receiver_inst/internal_buffer_167" BEL
        "communicator_inst/receiver_inst/internal_buffer_166" BEL
        "communicator_inst/receiver_inst/internal_buffer_165" BEL
        "communicator_inst/receiver_inst/internal_buffer_164" BEL
        "communicator_inst/receiver_inst/internal_buffer_163" BEL
        "communicator_inst/receiver_inst/internal_buffer_162" BEL
        "communicator_inst/receiver_inst/internal_buffer_161" BEL
        "communicator_inst/receiver_inst/internal_buffer_160" BEL
        "communicator_inst/receiver_inst/internal_buffer_159" BEL
        "communicator_inst/receiver_inst/internal_buffer_158" BEL
        "communicator_inst/receiver_inst/internal_buffer_157" BEL
        "communicator_inst/receiver_inst/internal_buffer_156" BEL
        "communicator_inst/receiver_inst/internal_buffer_155" BEL
        "communicator_inst/receiver_inst/internal_buffer_154" BEL
        "communicator_inst/receiver_inst/internal_buffer_153" BEL
        "communicator_inst/receiver_inst/internal_buffer_152" BEL
        "communicator_inst/receiver_inst/internal_buffer_151" BEL
        "communicator_inst/receiver_inst/internal_buffer_150" BEL
        "communicator_inst/receiver_inst/internal_buffer_149" BEL
        "communicator_inst/receiver_inst/internal_buffer_148" BEL
        "communicator_inst/receiver_inst/internal_buffer_147" BEL
        "communicator_inst/receiver_inst/internal_buffer_146" BEL
        "communicator_inst/receiver_inst/internal_buffer_145" BEL
        "communicator_inst/receiver_inst/internal_buffer_144" BEL
        "communicator_inst/receiver_inst/internal_buffer_143" BEL
        "communicator_inst/receiver_inst/internal_buffer_142" BEL
        "communicator_inst/receiver_inst/internal_buffer_141" BEL
        "communicator_inst/receiver_inst/internal_buffer_140" BEL
        "communicator_inst/receiver_inst/internal_buffer_139" BEL
        "communicator_inst/receiver_inst/internal_buffer_138" BEL
        "communicator_inst/receiver_inst/internal_buffer_137" BEL
        "communicator_inst/receiver_inst/internal_buffer_136" BEL
        "communicator_inst/receiver_inst/internal_buffer_135" BEL
        "communicator_inst/receiver_inst/internal_buffer_134" BEL
        "communicator_inst/receiver_inst/internal_buffer_133" BEL
        "communicator_inst/receiver_inst/internal_buffer_132" BEL
        "communicator_inst/receiver_inst/internal_buffer_131" BEL
        "communicator_inst/receiver_inst/internal_buffer_130" BEL
        "communicator_inst/receiver_inst/internal_buffer_129" BEL
        "communicator_inst/receiver_inst/internal_buffer_128" BEL
        "communicator_inst/receiver_inst/internal_buffer_127" BEL
        "communicator_inst/receiver_inst/internal_buffer_126" BEL
        "communicator_inst/receiver_inst/internal_buffer_125" BEL
        "communicator_inst/receiver_inst/internal_buffer_124" BEL
        "communicator_inst/receiver_inst/internal_buffer_123" BEL
        "communicator_inst/receiver_inst/internal_buffer_122" BEL
        "communicator_inst/receiver_inst/internal_buffer_121" BEL
        "communicator_inst/receiver_inst/internal_buffer_120" BEL
        "communicator_inst/receiver_inst/internal_buffer_119" BEL
        "communicator_inst/receiver_inst/internal_buffer_118" BEL
        "communicator_inst/receiver_inst/internal_buffer_117" BEL
        "communicator_inst/receiver_inst/internal_buffer_116" BEL
        "communicator_inst/receiver_inst/internal_buffer_115" BEL
        "communicator_inst/receiver_inst/internal_buffer_114" BEL
        "communicator_inst/receiver_inst/internal_buffer_113" BEL
        "communicator_inst/receiver_inst/internal_buffer_112" BEL
        "communicator_inst/receiver_inst/internal_buffer_111" BEL
        "communicator_inst/receiver_inst/internal_buffer_110" BEL
        "communicator_inst/receiver_inst/internal_buffer_109" BEL
        "communicator_inst/receiver_inst/internal_buffer_108" BEL
        "communicator_inst/receiver_inst/internal_buffer_107" BEL
        "communicator_inst/receiver_inst/internal_buffer_106" BEL
        "communicator_inst/receiver_inst/internal_buffer_105" BEL
        "communicator_inst/receiver_inst/internal_buffer_104" BEL
        "communicator_inst/receiver_inst/internal_buffer_103" BEL
        "communicator_inst/receiver_inst/internal_buffer_102" BEL
        "communicator_inst/receiver_inst/internal_buffer_101" BEL
        "communicator_inst/receiver_inst/internal_buffer_100" BEL
        "communicator_inst/receiver_inst/internal_buffer_99" BEL
        "communicator_inst/receiver_inst/internal_buffer_98" BEL
        "communicator_inst/receiver_inst/internal_buffer_97" BEL
        "communicator_inst/receiver_inst/internal_buffer_96" BEL
        "communicator_inst/receiver_inst/internal_buffer_95" BEL
        "communicator_inst/receiver_inst/internal_buffer_94" BEL
        "communicator_inst/receiver_inst/internal_buffer_93" BEL
        "communicator_inst/receiver_inst/internal_buffer_92" BEL
        "communicator_inst/receiver_inst/internal_buffer_91" BEL
        "communicator_inst/receiver_inst/internal_buffer_90" BEL
        "communicator_inst/receiver_inst/internal_buffer_89" BEL
        "communicator_inst/receiver_inst/internal_buffer_88" BEL
        "communicator_inst/receiver_inst/internal_buffer_87" BEL
        "communicator_inst/receiver_inst/internal_buffer_86" BEL
        "communicator_inst/receiver_inst/internal_buffer_85" BEL
        "communicator_inst/receiver_inst/internal_buffer_84" BEL
        "communicator_inst/receiver_inst/internal_buffer_83" BEL
        "communicator_inst/receiver_inst/internal_buffer_82" BEL
        "communicator_inst/receiver_inst/internal_buffer_81" BEL
        "communicator_inst/receiver_inst/internal_buffer_80" BEL
        "communicator_inst/receiver_inst/internal_buffer_79" BEL
        "communicator_inst/receiver_inst/internal_buffer_78" BEL
        "communicator_inst/receiver_inst/internal_buffer_77" BEL
        "communicator_inst/receiver_inst/internal_buffer_76" BEL
        "communicator_inst/receiver_inst/internal_buffer_75" BEL
        "communicator_inst/receiver_inst/internal_buffer_74" BEL
        "communicator_inst/receiver_inst/internal_buffer_73" BEL
        "communicator_inst/receiver_inst/internal_buffer_72" BEL
        "communicator_inst/receiver_inst/internal_buffer_71" BEL
        "communicator_inst/receiver_inst/internal_buffer_70" BEL
        "communicator_inst/receiver_inst/internal_buffer_69" BEL
        "communicator_inst/receiver_inst/internal_buffer_68" BEL
        "communicator_inst/receiver_inst/internal_buffer_67" BEL
        "communicator_inst/receiver_inst/internal_buffer_66" BEL
        "communicator_inst/receiver_inst/internal_buffer_65" BEL
        "communicator_inst/receiver_inst/internal_buffer_64" BEL
        "communicator_inst/receiver_inst/internal_buffer_63" BEL
        "communicator_inst/receiver_inst/internal_buffer_62" BEL
        "communicator_inst/receiver_inst/internal_buffer_61" BEL
        "communicator_inst/receiver_inst/internal_buffer_60" BEL
        "communicator_inst/receiver_inst/internal_buffer_59" BEL
        "communicator_inst/receiver_inst/internal_buffer_58" BEL
        "communicator_inst/receiver_inst/internal_buffer_57" BEL
        "communicator_inst/receiver_inst/internal_buffer_56" BEL
        "communicator_inst/receiver_inst/internal_buffer_55" BEL
        "communicator_inst/receiver_inst/internal_buffer_54" BEL
        "communicator_inst/receiver_inst/internal_buffer_53" BEL
        "communicator_inst/receiver_inst/internal_buffer_52" BEL
        "communicator_inst/receiver_inst/internal_buffer_51" BEL
        "communicator_inst/receiver_inst/internal_buffer_50" BEL
        "communicator_inst/receiver_inst/internal_buffer_49" BEL
        "communicator_inst/receiver_inst/internal_buffer_48" BEL
        "communicator_inst/receiver_inst/internal_buffer_47" BEL
        "communicator_inst/receiver_inst/internal_buffer_46" BEL
        "communicator_inst/receiver_inst/internal_buffer_45" BEL
        "communicator_inst/receiver_inst/internal_buffer_44" BEL
        "communicator_inst/receiver_inst/internal_buffer_43" BEL
        "communicator_inst/receiver_inst/internal_buffer_42" BEL
        "communicator_inst/receiver_inst/internal_buffer_41" BEL
        "communicator_inst/receiver_inst/internal_buffer_40" BEL
        "communicator_inst/receiver_inst/internal_buffer_39" BEL
        "communicator_inst/receiver_inst/internal_buffer_38" BEL
        "communicator_inst/receiver_inst/internal_buffer_37" BEL
        "communicator_inst/receiver_inst/internal_buffer_36" BEL
        "communicator_inst/receiver_inst/internal_buffer_35" BEL
        "communicator_inst/receiver_inst/internal_buffer_34" BEL
        "communicator_inst/receiver_inst/internal_buffer_33" BEL
        "communicator_inst/receiver_inst/internal_buffer_32" BEL
        "communicator_inst/receiver_inst/internal_buffer_31" BEL
        "communicator_inst/receiver_inst/internal_buffer_30" BEL
        "communicator_inst/receiver_inst/internal_buffer_29" BEL
        "communicator_inst/receiver_inst/internal_buffer_28" BEL
        "communicator_inst/receiver_inst/internal_buffer_27" BEL
        "communicator_inst/receiver_inst/internal_buffer_26" BEL
        "communicator_inst/receiver_inst/internal_buffer_25" BEL
        "communicator_inst/receiver_inst/internal_buffer_24" BEL
        "communicator_inst/receiver_inst/internal_buffer_23" BEL
        "communicator_inst/receiver_inst/internal_buffer_22" BEL
        "communicator_inst/receiver_inst/internal_buffer_21" BEL
        "communicator_inst/receiver_inst/internal_buffer_20" BEL
        "communicator_inst/receiver_inst/internal_buffer_19" BEL
        "communicator_inst/receiver_inst/internal_buffer_18" BEL
        "communicator_inst/receiver_inst/internal_buffer_17" BEL
        "communicator_inst/receiver_inst/internal_buffer_16" BEL
        "communicator_inst/receiver_inst/internal_buffer_15" BEL
        "communicator_inst/receiver_inst/internal_buffer_14" BEL
        "communicator_inst/receiver_inst/internal_buffer_13" BEL
        "communicator_inst/receiver_inst/internal_buffer_12" BEL
        "communicator_inst/receiver_inst/internal_buffer_11" BEL
        "communicator_inst/receiver_inst/internal_buffer_10" BEL
        "communicator_inst/receiver_inst/internal_buffer_9" BEL
        "communicator_inst/receiver_inst/internal_buffer_8" BEL
        "communicator_inst/receiver_inst/internal_buffer_7" BEL
        "communicator_inst/receiver_inst/internal_buffer_6" BEL
        "communicator_inst/receiver_inst/internal_buffer_5" BEL
        "communicator_inst/receiver_inst/internal_buffer_4" BEL
        "communicator_inst/receiver_inst/internal_buffer_3" BEL
        "communicator_inst/receiver_inst/internal_buffer_2" BEL
        "communicator_inst/receiver_inst/internal_buffer_1" BEL
        "communicator_inst/receiver_inst/internal_buffer_0" BEL
        "communicator_inst/uart_inst/uart_rx_filter_1" BEL
        "communicator_inst/uart_inst/uart_rx_filter_0" BEL
        "communicator_inst/uart_inst/uart_rx_state_FSM_FFd1" BEL
        "communicator_inst/uart_inst/uart_rx_state_FSM_FFd2" BEL
        "communicator_inst/uart_inst/uart_tx_state_FSM_FFd2" BEL
        "communicator_inst/uart_inst/uart_rx_bit_spacing_3" BEL
        "communicator_inst/uart_inst/uart_tx_state_FSM_FFd1" BEL
        "communicator_inst/uart_inst/uart_rx_bit_spacing_2" BEL
        "communicator_inst/uart_inst/uart_rx_bit_spacing_1" BEL
        "communicator_inst/uart_inst/uart_rx_bit_spacing_0" BEL
        "communicator_inst/uart_inst/uart_rx_count_2" BEL
        "communicator_inst/uart_inst/uart_rx_count_1" BEL
        "communicator_inst/uart_inst/uart_rx_count_0" BEL
        "communicator_inst/uart_inst/tx_baud_counter_7" BEL
        "communicator_inst/uart_inst/tx_baud_counter_6" BEL
        "communicator_inst/uart_inst/tx_baud_counter_5" BEL
        "communicator_inst/uart_inst/tx_baud_counter_4" BEL
        "communicator_inst/uart_inst/tx_baud_counter_3" BEL
        "communicator_inst/uart_inst/tx_baud_counter_2" BEL
        "communicator_inst/uart_inst/tx_baud_counter_1" BEL
        "communicator_inst/uart_inst/tx_baud_counter_0" BEL
        "communicator_inst/uart_inst/rx_baud_counter_3" BEL
        "communicator_inst/uart_inst/rx_baud_counter_2" BEL
        "communicator_inst/uart_inst/rx_baud_counter_1" BEL
        "communicator_inst/uart_inst/rx_baud_counter_0" BEL
        "communicator_inst/uart_inst/uart_tx_data" BEL
        "communicator_inst/uart_inst/uart_rx_data_out_stb" BEL
        "communicator_inst/uart_inst/uart_tx_count_2" BEL
        "communicator_inst/uart_inst/uart_tx_count_1" BEL
        "communicator_inst/uart_inst/uart_tx_count_0" BEL
        "communicator_inst/uart_inst/uart_rx_data_vec_7" BEL
        "communicator_inst/uart_inst/uart_rx_data_vec_6" BEL
        "communicator_inst/uart_inst/uart_rx_data_vec_5" BEL
        "communicator_inst/uart_inst/uart_rx_data_vec_4" BEL
        "communicator_inst/uart_inst/uart_rx_data_vec_3" BEL
        "communicator_inst/uart_inst/uart_rx_data_vec_2" BEL
        "communicator_inst/uart_inst/uart_rx_data_vec_1" BEL
        "communicator_inst/uart_inst/uart_rx_data_vec_0" BEL
        "communicator_inst/uart_inst/uart_rx_data_sr_1" BEL
        "communicator_inst/uart_inst/uart_rx_data_sr_0" BEL
        "communicator_inst/uart_inst/uart_rx_data_in_ack" BEL
        "communicator_inst/uart_inst/uart_tx_data_vec_6" BEL
        "communicator_inst/uart_inst/uart_tx_data_vec_5" BEL
        "communicator_inst/uart_inst/uart_tx_data_vec_4" BEL
        "communicator_inst/uart_inst/uart_tx_data_vec_3" BEL
        "communicator_inst/uart_inst/uart_tx_data_vec_2" BEL
        "communicator_inst/uart_inst/uart_tx_data_vec_1" BEL
        "communicator_inst/uart_inst/uart_tx_data_vec_0" BEL
        "communicator_inst/uart_inst/tx_baud_tick" BEL
        "communicator_inst/uart_inst/rx_baud_tick" BEL
        "displayer_inst/display_inst/blink_counter_23" BEL
        "displayer_inst/display_inst/blink_counter_22" BEL
        "displayer_inst/display_inst/blink_counter_21" BEL
        "displayer_inst/display_inst/blink_counter_20" BEL
        "displayer_inst/display_inst/blink_counter_19" BEL
        "displayer_inst/display_inst/blink_counter_18" BEL
        "displayer_inst/display_inst/blink_counter_17" BEL
        "displayer_inst/display_inst/blink_counter_16" BEL
        "displayer_inst/display_inst/blink_counter_15" BEL
        "displayer_inst/display_inst/blink_counter_14" BEL
        "displayer_inst/display_inst/blink_counter_13" BEL
        "displayer_inst/display_inst/blink_counter_12" BEL
        "displayer_inst/display_inst/blink_counter_11" BEL
        "displayer_inst/display_inst/blink_counter_10" BEL
        "displayer_inst/display_inst/blink_counter_9" BEL
        "displayer_inst/display_inst/blink_counter_8" BEL
        "displayer_inst/display_inst/blink_counter_7" BEL
        "displayer_inst/display_inst/blink_counter_6" BEL
        "displayer_inst/display_inst/blink_counter_5" BEL
        "displayer_inst/display_inst/blink_counter_4" BEL
        "displayer_inst/display_inst/blink_counter_3" BEL
        "displayer_inst/display_inst/blink_counter_2" BEL
        "displayer_inst/display_inst/blink_counter_1" BEL
        "displayer_inst/display_inst/blink_counter_0" BEL
        "displayer_inst/display_inst/current_state_char_4" BEL
        "displayer_inst/display_inst/current_state_char_3" BEL
        "displayer_inst/display_inst/current_state_char_1" BEL
        "displayer_inst/display_inst/current_state_char_0" BEL
        "displayer_inst/display_inst/formatted_message_239" BEL
        "displayer_inst/display_inst/formatted_message_238" BEL
        "displayer_inst/display_inst/formatted_message_237" BEL
        "displayer_inst/display_inst/formatted_message_236" BEL
        "displayer_inst/display_inst/formatted_message_235" BEL
        "displayer_inst/display_inst/formatted_message_234" BEL
        "displayer_inst/display_inst/formatted_message_233" BEL
        "displayer_inst/display_inst/formatted_message_232" BEL
        "displayer_inst/display_inst/formatted_message_231" BEL
        "displayer_inst/display_inst/formatted_message_230" BEL
        "displayer_inst/display_inst/formatted_message_229" BEL
        "displayer_inst/display_inst/formatted_message_228" BEL
        "displayer_inst/display_inst/formatted_message_227" BEL
        "displayer_inst/display_inst/formatted_message_226" BEL
        "displayer_inst/display_inst/formatted_message_225" BEL
        "displayer_inst/display_inst/formatted_message_224" BEL
        "displayer_inst/display_inst/formatted_message_223" BEL
        "displayer_inst/display_inst/formatted_message_222" BEL
        "displayer_inst/display_inst/formatted_message_221" BEL
        "displayer_inst/display_inst/formatted_message_220" BEL
        "displayer_inst/display_inst/formatted_message_219" BEL
        "displayer_inst/display_inst/formatted_message_218" BEL
        "displayer_inst/display_inst/formatted_message_217" BEL
        "displayer_inst/display_inst/formatted_message_216" BEL
        "displayer_inst/display_inst/formatted_message_215" BEL
        "displayer_inst/display_inst/formatted_message_214" BEL
        "displayer_inst/display_inst/formatted_message_213" BEL
        "displayer_inst/display_inst/formatted_message_212" BEL
        "displayer_inst/display_inst/formatted_message_211" BEL
        "displayer_inst/display_inst/formatted_message_210" BEL
        "displayer_inst/display_inst/formatted_message_209" BEL
        "displayer_inst/display_inst/formatted_message_208" BEL
        "displayer_inst/display_inst/formatted_message_207" BEL
        "displayer_inst/display_inst/formatted_message_206" BEL
        "displayer_inst/display_inst/formatted_message_205" BEL
        "displayer_inst/display_inst/formatted_message_204" BEL
        "displayer_inst/display_inst/formatted_message_203" BEL
        "displayer_inst/display_inst/formatted_message_202" BEL
        "displayer_inst/display_inst/formatted_message_201" BEL
        "displayer_inst/display_inst/formatted_message_200" BEL
        "displayer_inst/display_inst/formatted_message_199" BEL
        "displayer_inst/display_inst/formatted_message_198" BEL
        "displayer_inst/display_inst/formatted_message_197" BEL
        "displayer_inst/display_inst/formatted_message_196" BEL
        "displayer_inst/display_inst/formatted_message_195" BEL
        "displayer_inst/display_inst/formatted_message_194" BEL
        "displayer_inst/display_inst/formatted_message_193" BEL
        "displayer_inst/display_inst/formatted_message_192" BEL
        "displayer_inst/display_inst/formatted_message_191" BEL
        "displayer_inst/display_inst/formatted_message_190" BEL
        "displayer_inst/display_inst/formatted_message_189" BEL
        "displayer_inst/display_inst/formatted_message_188" BEL
        "displayer_inst/display_inst/formatted_message_187" BEL
        "displayer_inst/display_inst/formatted_message_186" BEL
        "displayer_inst/display_inst/formatted_message_185" BEL
        "displayer_inst/display_inst/formatted_message_184" BEL
        "displayer_inst/display_inst/formatted_message_183" BEL
        "displayer_inst/display_inst/formatted_message_182" BEL
        "displayer_inst/display_inst/formatted_message_181" BEL
        "displayer_inst/display_inst/formatted_message_180" BEL
        "displayer_inst/display_inst/formatted_message_179" BEL
        "displayer_inst/display_inst/formatted_message_178" BEL
        "displayer_inst/display_inst/formatted_message_177" BEL
        "displayer_inst/display_inst/formatted_message_176" BEL
        "displayer_inst/display_inst/formatted_message_175" BEL
        "displayer_inst/display_inst/formatted_message_174" BEL
        "displayer_inst/display_inst/formatted_message_173" BEL
        "displayer_inst/display_inst/formatted_message_172" BEL
        "displayer_inst/display_inst/formatted_message_171" BEL
        "displayer_inst/display_inst/formatted_message_170" BEL
        "displayer_inst/display_inst/formatted_message_169" BEL
        "displayer_inst/display_inst/formatted_message_168" BEL
        "displayer_inst/display_inst/formatted_message_167" BEL
        "displayer_inst/display_inst/formatted_message_166" BEL
        "displayer_inst/display_inst/formatted_message_165" BEL
        "displayer_inst/display_inst/formatted_message_164" BEL
        "displayer_inst/display_inst/formatted_message_163" BEL
        "displayer_inst/display_inst/formatted_message_162" BEL
        "displayer_inst/display_inst/formatted_message_161" BEL
        "displayer_inst/display_inst/formatted_message_160" BEL
        "displayer_inst/display_inst/formatted_message_159" BEL
        "displayer_inst/display_inst/formatted_message_158" BEL
        "displayer_inst/display_inst/formatted_message_157" BEL
        "displayer_inst/display_inst/formatted_message_156" BEL
        "displayer_inst/display_inst/formatted_message_155" BEL
        "displayer_inst/display_inst/formatted_message_154" BEL
        "displayer_inst/display_inst/formatted_message_153" BEL
        "displayer_inst/display_inst/formatted_message_152" BEL
        "displayer_inst/display_inst/formatted_message_151" BEL
        "displayer_inst/display_inst/formatted_message_150" BEL
        "displayer_inst/display_inst/formatted_message_149" BEL
        "displayer_inst/display_inst/formatted_message_148" BEL
        "displayer_inst/display_inst/formatted_message_147" BEL
        "displayer_inst/display_inst/formatted_message_146" BEL
        "displayer_inst/display_inst/formatted_message_145" BEL
        "displayer_inst/display_inst/formatted_message_144" BEL
        "displayer_inst/display_inst/formatted_message_143" BEL
        "displayer_inst/display_inst/formatted_message_142" BEL
        "displayer_inst/display_inst/formatted_message_141" BEL
        "displayer_inst/display_inst/formatted_message_140" BEL
        "displayer_inst/display_inst/formatted_message_139" BEL
        "displayer_inst/display_inst/formatted_message_138" BEL
        "displayer_inst/display_inst/formatted_message_137" BEL
        "displayer_inst/display_inst/formatted_message_136" BEL
        "displayer_inst/display_inst/formatted_message_135" BEL
        "displayer_inst/display_inst/formatted_message_134" BEL
        "displayer_inst/display_inst/formatted_message_133" BEL
        "displayer_inst/display_inst/formatted_message_132" BEL
        "displayer_inst/display_inst/formatted_message_131" BEL
        "displayer_inst/display_inst/formatted_message_130" BEL
        "displayer_inst/display_inst/formatted_message_129" BEL
        "displayer_inst/display_inst/formatted_message_128" BEL
        "displayer_inst/display_inst/formatted_message_127" BEL
        "displayer_inst/display_inst/formatted_message_126" BEL
        "displayer_inst/display_inst/formatted_message_125" BEL
        "displayer_inst/display_inst/formatted_message_124" BEL
        "displayer_inst/display_inst/formatted_message_123" BEL
        "displayer_inst/display_inst/formatted_message_122" BEL
        "displayer_inst/display_inst/formatted_message_121" BEL
        "displayer_inst/display_inst/formatted_message_120" BEL
        "displayer_inst/display_inst/formatted_message_119" BEL
        "displayer_inst/display_inst/formatted_message_118" BEL
        "displayer_inst/display_inst/formatted_message_117" BEL
        "displayer_inst/display_inst/formatted_message_116" BEL
        "displayer_inst/display_inst/formatted_message_115" BEL
        "displayer_inst/display_inst/formatted_message_114" BEL
        "displayer_inst/display_inst/formatted_message_113" BEL
        "displayer_inst/display_inst/formatted_message_112" BEL
        "displayer_inst/display_inst/formatted_message_111" BEL
        "displayer_inst/display_inst/formatted_message_110" BEL
        "displayer_inst/display_inst/formatted_message_109" BEL
        "displayer_inst/display_inst/formatted_message_108" BEL
        "displayer_inst/display_inst/formatted_message_107" BEL
        "displayer_inst/display_inst/formatted_message_106" BEL
        "displayer_inst/display_inst/formatted_message_105" BEL
        "displayer_inst/display_inst/formatted_message_104" BEL
        "displayer_inst/display_inst/formatted_message_103" BEL
        "displayer_inst/display_inst/formatted_message_102" BEL
        "displayer_inst/display_inst/formatted_message_101" BEL
        "displayer_inst/display_inst/formatted_message_100" BEL
        "displayer_inst/display_inst/formatted_message_99" BEL
        "displayer_inst/display_inst/formatted_message_98" BEL
        "displayer_inst/display_inst/formatted_message_97" BEL
        "displayer_inst/display_inst/formatted_message_96" BEL
        "displayer_inst/display_inst/formatted_message_95" BEL
        "displayer_inst/display_inst/formatted_message_94" BEL
        "displayer_inst/display_inst/formatted_message_93" BEL
        "displayer_inst/display_inst/formatted_message_92" BEL
        "displayer_inst/display_inst/formatted_message_91" BEL
        "displayer_inst/display_inst/formatted_message_90" BEL
        "displayer_inst/display_inst/formatted_message_89" BEL
        "displayer_inst/display_inst/formatted_message_88" BEL
        "displayer_inst/display_inst/formatted_message_87" BEL
        "displayer_inst/display_inst/formatted_message_86" BEL
        "displayer_inst/display_inst/formatted_message_85" BEL
        "displayer_inst/display_inst/formatted_message_84" BEL
        "displayer_inst/display_inst/formatted_message_83" BEL
        "displayer_inst/display_inst/formatted_message_82" BEL
        "displayer_inst/display_inst/formatted_message_81" BEL
        "displayer_inst/display_inst/formatted_message_80" BEL
        "displayer_inst/display_inst/formatted_message_79" BEL
        "displayer_inst/display_inst/formatted_message_78" BEL
        "displayer_inst/display_inst/formatted_message_77" BEL
        "displayer_inst/display_inst/formatted_message_76" BEL
        "displayer_inst/display_inst/formatted_message_75" BEL
        "displayer_inst/display_inst/formatted_message_74" BEL
        "displayer_inst/display_inst/formatted_message_73" BEL
        "displayer_inst/display_inst/formatted_message_72" BEL
        "displayer_inst/display_inst/formatted_message_71" BEL
        "displayer_inst/display_inst/formatted_message_70" BEL
        "displayer_inst/display_inst/formatted_message_69" BEL
        "displayer_inst/display_inst/formatted_message_68" BEL
        "displayer_inst/display_inst/formatted_message_67" BEL
        "displayer_inst/display_inst/formatted_message_66" BEL
        "displayer_inst/display_inst/formatted_message_65" BEL
        "displayer_inst/display_inst/formatted_message_64" BEL
        "displayer_inst/display_inst/formatted_message_63" BEL
        "displayer_inst/display_inst/formatted_message_62" BEL
        "displayer_inst/display_inst/formatted_message_61" BEL
        "displayer_inst/display_inst/formatted_message_60" BEL
        "displayer_inst/display_inst/formatted_message_59" BEL
        "displayer_inst/display_inst/formatted_message_58" BEL
        "displayer_inst/display_inst/formatted_message_57" BEL
        "displayer_inst/display_inst/formatted_message_56" BEL
        "displayer_inst/display_inst/formatted_message_55" BEL
        "displayer_inst/display_inst/formatted_message_54" BEL
        "displayer_inst/display_inst/formatted_message_53" BEL
        "displayer_inst/display_inst/formatted_message_52" BEL
        "displayer_inst/display_inst/formatted_message_51" BEL
        "displayer_inst/display_inst/formatted_message_50" BEL
        "displayer_inst/display_inst/formatted_message_49" BEL
        "displayer_inst/display_inst/formatted_message_48" BEL
        "displayer_inst/display_inst/formatted_message_47" BEL
        "displayer_inst/display_inst/formatted_message_46" BEL
        "displayer_inst/display_inst/formatted_message_45" BEL
        "displayer_inst/display_inst/formatted_message_44" BEL
        "displayer_inst/display_inst/formatted_message_43" BEL
        "displayer_inst/display_inst/formatted_message_42" BEL
        "displayer_inst/display_inst/formatted_message_41" BEL
        "displayer_inst/display_inst/formatted_message_40" BEL
        "displayer_inst/display_inst/formatted_message_39" BEL
        "displayer_inst/display_inst/formatted_message_38" BEL
        "displayer_inst/display_inst/formatted_message_37" BEL
        "displayer_inst/display_inst/formatted_message_36" BEL
        "displayer_inst/display_inst/formatted_message_35" BEL
        "displayer_inst/display_inst/formatted_message_34" BEL
        "displayer_inst/display_inst/formatted_message_33" BEL
        "displayer_inst/display_inst/formatted_message_32" BEL
        "displayer_inst/display_inst/formatted_message_31" BEL
        "displayer_inst/display_inst/formatted_message_30" BEL
        "displayer_inst/display_inst/formatted_message_29" BEL
        "displayer_inst/display_inst/formatted_message_28" BEL
        "displayer_inst/display_inst/formatted_message_27" BEL
        "displayer_inst/display_inst/formatted_message_26" BEL
        "displayer_inst/display_inst/formatted_message_25" BEL
        "displayer_inst/display_inst/formatted_message_24" BEL
        "displayer_inst/display_inst/formatted_message_23" BEL
        "displayer_inst/display_inst/formatted_message_22" BEL
        "displayer_inst/display_inst/formatted_message_21" BEL
        "displayer_inst/display_inst/formatted_message_20" BEL
        "displayer_inst/display_inst/formatted_message_19" BEL
        "displayer_inst/display_inst/formatted_message_18" BEL
        "displayer_inst/display_inst/formatted_message_17" BEL
        "displayer_inst/display_inst/formatted_message_16" BEL
        "displayer_inst/display_inst/formatted_message_15" BEL
        "displayer_inst/display_inst/formatted_message_14" BEL
        "displayer_inst/display_inst/formatted_message_13" BEL
        "displayer_inst/display_inst/formatted_message_12" BEL
        "displayer_inst/display_inst/formatted_message_11" BEL
        "displayer_inst/display_inst/formatted_message_10" BEL
        "displayer_inst/display_inst/formatted_message_9" BEL
        "displayer_inst/display_inst/formatted_message_8" BEL
        "displayer_inst/display_inst/formatted_message_7" BEL
        "displayer_inst/display_inst/formatted_message_6" BEL
        "displayer_inst/display_inst/formatted_message_5" BEL
        "displayer_inst/display_inst/formatted_message_4" BEL
        "displayer_inst/display_inst/formatted_message_3" BEL
        "displayer_inst/display_inst/formatted_message_2" BEL
        "displayer_inst/display_inst/formatted_message_1" BEL
        "displayer_inst/display_inst/formatted_message_0" BEL
        "displayer_inst/lcd_controller_inst/state_FSM_FFd1" BEL
        "displayer_inst/lcd_controller_inst/state_FSM_FFd2" BEL
        "displayer_inst/lcd_controller_inst/ptr_4" BEL
        "displayer_inst/lcd_controller_inst/ptr_3" BEL
        "displayer_inst/lcd_controller_inst/ptr_2" BEL
        "displayer_inst/lcd_controller_inst/ptr_1" BEL
        "displayer_inst/lcd_controller_inst/ptr_0" BEL
        "displayer_inst/lcd_controller_inst/state_FSM_FFd3" BEL
        "displayer_inst/lcd_controller_inst/lcd_data_2" BEL
        "displayer_inst/lcd_controller_inst/clk_count_19" BEL
        "displayer_inst/lcd_controller_inst/clk_count_18" BEL
        "displayer_inst/lcd_controller_inst/clk_count_17" BEL
        "displayer_inst/lcd_controller_inst/clk_count_16" BEL
        "displayer_inst/lcd_controller_inst/clk_count_15" BEL
        "displayer_inst/lcd_controller_inst/clk_count_14" BEL
        "displayer_inst/lcd_controller_inst/clk_count_13" BEL
        "displayer_inst/lcd_controller_inst/clk_count_12" BEL
        "displayer_inst/lcd_controller_inst/clk_count_11" BEL
        "displayer_inst/lcd_controller_inst/clk_count_10" BEL
        "displayer_inst/lcd_controller_inst/clk_count_9" BEL
        "displayer_inst/lcd_controller_inst/clk_count_8" BEL
        "displayer_inst/lcd_controller_inst/clk_count_7" BEL
        "displayer_inst/lcd_controller_inst/clk_count_6" BEL
        "displayer_inst/lcd_controller_inst/clk_count_5" BEL
        "displayer_inst/lcd_controller_inst/clk_count_4" BEL
        "displayer_inst/lcd_controller_inst/clk_count_3" BEL
        "displayer_inst/lcd_controller_inst/clk_count_2" BEL
        "displayer_inst/lcd_controller_inst/clk_count_1" BEL
        "displayer_inst/lcd_controller_inst/clk_count_0" BEL
        "recieve_buzzer_controller/bit_timer_20" BEL
        "recieve_buzzer_controller/bit_timer_19" BEL
        "recieve_buzzer_controller/bit_timer_18" BEL
        "recieve_buzzer_controller/bit_timer_17" BEL
        "recieve_buzzer_controller/bit_timer_16" BEL
        "recieve_buzzer_controller/bit_timer_15" BEL
        "recieve_buzzer_controller/bit_timer_14" BEL
        "recieve_buzzer_controller/bit_timer_13" BEL
        "recieve_buzzer_controller/bit_timer_12" BEL
        "recieve_buzzer_controller/bit_timer_11" BEL
        "recieve_buzzer_controller/bit_timer_10" BEL
        "recieve_buzzer_controller/bit_timer_9" BEL
        "recieve_buzzer_controller/bit_timer_8" BEL
        "recieve_buzzer_controller/bit_timer_7" BEL
        "recieve_buzzer_controller/bit_timer_6" BEL
        "recieve_buzzer_controller/bit_timer_5" BEL
        "recieve_buzzer_controller/bit_timer_4" BEL
        "recieve_buzzer_controller/bit_timer_3" BEL
        "recieve_buzzer_controller/bit_timer_2" BEL
        "recieve_buzzer_controller/bit_timer_1" BEL
        "recieve_buzzer_controller/bit_timer_0" BEL
        "recieve_buzzer_controller/internal_buzzer_status" BEL
        "recieve_buzzer_controller/current_bit_3" BEL
        "recieve_buzzer_controller/current_bit_2" BEL
        "recieve_buzzer_controller/current_bit_1" BEL
        "recieve_buzzer_controller/current_bit_0" BEL
        "communicator_inst/sender_inst/send_finished" BEL
        "communicator_inst/sender_inst/sending_flag" BEL "controller_inst/L0"
        BEL "communicator_inst/uart_inst/uart_rx_bit" BEL
        "displayer_inst/display_inst/display_toggle" BEL
        "recieve_buzzer_controller/latched_enable" BEL
        "communicator_inst/uart_inst/uart_rx_bit_tick" BEL
        "displayer_inst/lcd_controller_inst/rs" BEL
        "displayer_inst/lcd_controller_inst/line" BEL
        "displayer_inst/lcd_controller_inst/lcd_data_4" BEL
        "displayer_inst/lcd_controller_inst/e" BEL
        "displayer_inst/lcd_controller_inst/lcd_data_7" BEL
        "displayer_inst/lcd_controller_inst/lcd_data_6" BEL
        "displayer_inst/lcd_controller_inst/lcd_data_5" BEL
        "displayer_inst/lcd_controller_inst/lcd_data_3" BEL
        "displayer_inst/lcd_controller_inst/lcd_data_1" BEL
        "displayer_inst/lcd_controller_inst/lcd_data_0" BEL
        "input_cleaner_inst/g_btn_pulse[0].edge_detector_inst/r0_input" BEL
        "input_cleaner_inst/g_btn_pulse[0].edge_detector_inst/r1_input" BEL
        "input_cleaner_inst/g_btn_pulse[1].edge_detector_inst/r0_input" BEL
        "input_cleaner_inst/g_btn_pulse[1].edge_detector_inst/r1_input" BEL
        "input_cleaner_inst/g_btn_pulse[2].edge_detector_inst/r0_input" BEL
        "input_cleaner_inst/g_btn_pulse[2].edge_detector_inst/r1_input" BEL
        "input_cleaner_inst/g_btn_pulse[3].edge_detector_inst/r0_input" BEL
        "input_cleaner_inst/g_btn_pulse[3].edge_detector_inst/r1_input" BEL
        "input_cleaner_inst/g_btn_pulse[4].edge_detector_inst/r0_input" BEL
        "input_cleaner_inst/g_btn_pulse[4].edge_detector_inst/r1_input" BEL
        "input_cleaner_inst/g_btn_pulse[5].edge_detector_inst/r0_input" BEL
        "input_cleaner_inst/g_btn_pulse[5].edge_detector_inst/r1_input" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/count_18" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/count_17" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/count_16" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/count_15" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/count_14" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/count_13" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/count_12" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/count_11" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/count_10" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/count_9" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/count_8" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/count_7" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/count_6" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/count_5" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/count_4" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/count_3" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/count_2" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/count_1" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/count_0" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/flipflops_1" BEL
        "input_cleaner_inst/g_btn_debounce[5].debounce_inst/flipflops_0" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/count_18" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/count_17" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/count_16" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/count_15" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/count_14" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/count_13" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/count_12" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/count_11" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/count_10" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/count_9" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/count_8" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/count_7" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/count_6" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/count_5" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/count_4" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/count_3" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/count_2" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/count_1" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/count_0" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/flipflops_1" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/flipflops_0" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_19" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_18" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_17" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_16" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_15" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_14" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_13" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_12" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_11" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_10" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_9" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_8" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_7" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_6" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_5" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_4" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_3" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_2" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_1" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/count_0" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/flipflops_1" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/flipflops_0" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_19" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_18" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_17" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_16" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_15" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_14" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_13" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_12" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_11" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_10" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_9" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_8" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_7" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_6" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_5" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_4" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_3" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_2" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_1" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/count_0" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/flipflops_1" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/flipflops_0" BEL
        "editor_inst/added_to_buffer_C" BEL "editor_inst/added_to_buffer_P"
        BEL "input_cleaner_inst/g_btn_debounce[5].debounce_inst/result" BEL
        "input_cleaner_inst/g_btn_debounce[4].debounce_inst/result" BEL
        "input_cleaner_inst/g_dipsw_debounce[0].debounce_inst/result" BEL
        "input_cleaner_inst/g_sw_debounce[0].debounce_inst/result" BEL
        "displayer_inst/lcd_controller_inst/ptr_3_1" BEL
        "displayer_inst/lcd_controller_inst/ptr_2_1" BEL
        "displayer_inst/lcd_controller_inst/ptr_1_1" BEL "clk_BUFGP/BUFG";
ts_osc = PERIOD TIMEGRP "clk" 50 ns HIGH 50%;
SCHEMATIC END;

